{% extends '/master/default.twig' %} {% set subtitle = "Strona główna" %} {% block main %}

<div style="padding: 30px 30px;">
    <input id="login"></input>
    <button style="display: block; margin-top: 10px;" id="send-login">Podaj login</button>
    <p style="height: 500px; overflow-y: scroll;" id="messages"></p>
    <input id="message" type="text" style="width: 300px; height: 50px; margin-bottom: 10px;"></input>
    <button id="send-message">Wyślij wiadomość</button> {% endblock %}
</div>
